In [1]:
import pandas as pd
import sqlite3

In [2]:
# Conexão com o SQLite e execução do script de inicialização.

DB = sqlite3.connect('bancolocal.db')
c = DB.cursor()

sql_file = open("script.sql")
sql_as_string = sql_file.read()
c.executescript(sql_as_string)

In [3]:
#sql query

c.execute('''
            SELECT * FROM 
            (SELECT loja, cliente, SUM(valor) n from vendas
            GROUP BY cliente, loja
            ORDER BY loja, n DESC) AS a
            WHERE a.cliente IN (
            SELECT b.cliente from (SELECT loja, cliente, SUM(valor) n from vendas
            GROUP BY cliente, loja
            ORDER BY loja, n DESC) AS b 
            WHERE a.loja = b.loja
            ORDER BY b.n DESC
            LIMIT 3
            )
            ''')
c.fetchall()

[('Belo Horizonte', 'Jaxspan', 1015.2),
 ('Belo Horizonte', 'Mymm', 903.98),
 ('Belo Horizonte', 'Flipopia', 811.13),
 ('Curitiba', 'Youspan', 1298.54),
 ('Curitiba', 'Eimbee', 1256.56),
 ('Curitiba', 'Lajo', 917.9399999999999),
 ('Estados Unidos de Sobral', 'Dabfeed', 1438.03),
 ('Estados Unidos de Sobral', 'Centizu', 915.11),
 ('Estados Unidos de Sobral', 'Livetube', 864.62),
 ('Fortaleza', 'Dynabox', 1078.27),
 ('Fortaleza', 'Skiptube', 1033.8899999999999),
 ('Fortaleza', 'Fadeo', 1001.8900000000001),
 ('Rio de Janeiro', 'Zoombeat', 879.5),
 ('Rio de Janeiro', 'Vinte', 876.9999999999999),
 ('Rio de Janeiro', 'Centidel', 841.48)]

In [4]:
DB.commit()
DB.close()